.env
audio/*
!audio/
!audio/.gitignore

diarization/*
!diarization/
!diarization/.gitignore


summary/*
!summary/
!summary/.gitignore


transcript/*
!transcript/
!transcript/.gitignore


wavAudio/*
!wavAudio/
!wavAudio/.gitignore